
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #030e2e;
    color: #ffffff;
}


.navbar {
    width: 100%;
    padding: 20px 50px;
    background: #0f1628;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navbar .logo {
    font-size: 1.4rem;
}


.navbar nav a {
    margin-left: 25px;
    color: #b69ad3;
    text-decoration: none;
    transition: 0.3s ease;
}

.navbar nav a:hover {
    color: #9500ff; 
}

.hero {
    padding-top: 150px;
    padding-bottom: 120px;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
}


.hero span {
    color: #8110d1; 
}

.hero p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #e0caff; 
}


.about {
    padding: 80px 60px;
    max-width: 900px;
    margin: auto;
}

.about h2 {
    margin-bottom: 15px;
}


.projects {
    padding: 80px 60px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 25px;
}

.project-card {
    background: #0f1c3a;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #8e3efd;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 22px rgba(180, 76, 255, 0.3);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    margin-bottom: 15px;
    color: #d8c9ff; 
}


.btn {
    display: inline-block;
    padding: 8px 16px;
    background: #b44cff; 
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.btn:hover {
    background: #8221dd; 
}

.contact {
    padding: 80px 60px;
    text-align: center;
}
